.App-title{
  padding: 0px;
  margin: 0px;
  text-align: center;
  color:white;

}
body {
  padding: 0;
  margin: 0;
}
html, body{
  margin:0;
  padding:0;
}
h1, p{
  margin:0 0 1em
}
.row{
  width:100%;
}
nav li {
  list-style-type:none;
  padding:5px;
}
nav li a{
  color:white;
}
.leftcontainer{
  display: inline-block;
  width: 12%;
  vertical-align: top;
  
}
.leftcol{
  display: inline-block;
  position: fixed;
  width: 12%;
  /* vertical-align: top; */
}
.rightcol{
  display: inline-block;
  width:88%;
  vertical-align: top;
}
/* .leftcol,.rightside{ */
.rightside{
  min-height:100vh;
  width:100%;
}
.leftside{
  background-color: #222;
  min-height: 100vh;
  /* position:fixed; */
}
.rightside{
  background-color: darkslategray;
}
