.App-title{
  padding: 0px;
  margin: 0px;
  text-align: center;
  color:white;
  font-family: apple-system, BlinkMacSystemFont, Roboto, sans-serif;
  text-decoration: none;
}
.App-link{
  text-decoration: none;
}
body {
  padding: 0;
  margin: 0;
}
html, body{
  margin:0;
  padding:0;
}
h1, p{
  margin:0 0 1em
}
.row{
  width:100%;
}
nav li {
  list-style-type:none;
  padding:5px;
}
.page-selection{
  padding-inline-start: 10px;
}
nav li a{
  color:white;
  text-decoration: none;
  font-size:18px;
}
.leftcontainer{
  display: inline-block;
  width: 12%;
  vertical-align: top;
  
}
.leftcol{
  display: inline-block;
  position: fixed;
  width: 12%;
  box-shadow: rgba(21, 11, 37, 0.5) 2px 0px 10px 2px;
}
.rightcol{
  display: inline-block;
  width:88%;
  vertical-align: top;
}
.rightside{
  min-height:100vh;
  width:100%;
}
.leftside{
  background-color: #151515;
  min-height: 100vh;
}
.rightside{
  background-color: #151515;
}
html {
  overflow: -moz-scrollbars-vertical; 
  overflow-y: scroll;
}
a{
  /* text-decoration: none; */
}
hr{
  border: 1px solid white;
}
.line-divider{
  height: 1px;
  width: 100%;
  overflow:hidden;
  background-color: rgba(255, 255, 255, 1);
  display:inline-block;
  vertical-align: middle;
}