.App-title{
  padding: 0px;
  margin: 0px;
  text-align: center;
  color:white;
}
nav li {
  list-style-type:none;
  padding:5px;
}
nav li a{
  color:white;
}
.leftcol{
  display: inline-block;
  width: 10%;
  vertical-align: top;
}
.rightcol{
  display: inline-block;
  width:90%;
  vertical-align: top;
}
.leftside, .rightside{
  min-height:100vh;
  width:100%;
}
.leftside{
  background-color: #222;
}
.rightside{
  background-color: darkslategray;
}
