h2{
    padding:0;
    margin:0;
    text-align: center;
    color:white;
}

.leftcol-list{
    display: inline-block;
    width: 80%;
    vertical-align: top;
}
.rightcol-list{
    display: inline-block;
    width:20%;
    vertical-align: top;
}
.leftside-list, .rightside-list{
    min-height:100vh;
    width:100%;
}
.leftside-list{
    background-image: url(./resources/background.png);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: 100%;
}
h2{
    padding: 0;
    margin: 0;
}
/* .rightside-list{
background-color: indigo;
} */