/* .mechanics-list{
    padding-top: 5px;
    width:100%;
    text-align: center;
} */
/* .mechanic{
    width:40%;
    padding: 5px;
    display: inline-block;
    font-size: 14px;
    font-family: -apple-system, BlinkMacSystemFont, Roboto, sans-serif;
    border-radius:4px;
    border:2px solid #222;
    background-color: #222;
    color:white;
    margin: 5px;
} */
h2{
    padding:0;
    margin:0;
    text-align: center;
    color:white;
}
form{
    width:85%;
    text-align: center;
    margin: 0;
    padding: 0;
}
.searchbar{
    width:90%;
}
input[type=text]{
    border-radius:4px;
    border:2px solid #222;
    padding: 4px;
    background: #222;
    color:white;
}
input[type=text]:focus{
    border-color:#ffffff;
    /* box-shadow: 0 0 4px 0 #000222; */
    outline: none !important;
}
.search-title{
    padding-top: 10px;
    padding-left: 3%;
    color:white;
}
.leftcol-list{
    display: inline-block;
    width: 80%;
    vertical-align: top;
}
.rightcol-list-container{
    display: inline-block;
    width:20%;
    vertical-align: top;
    position:fixed;
    margin:0 auto;
    
}
.rightcol-list{
    display: inline-block;
    width:100%;
    vertical-align: top;
}
.rightside-list{
    box-shadow: rgba(21, 11, 37, 1) 2px 0px 10px 2px;
}
.leftside-list, .rightside-list{
    min-height:100vh;
    width:100%;
}
.leftside-list{
    background-image: url(./resources/background.png);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: 100%;
    /* text-align:center; */
}
h2{
    padding: 0;
    margin: 0;
    font-family: apple-system, BlinkMacSystemFont, Roboto, sans-serif;
}