.type{
    width:40%;
    padding: 5px;
    display: inline-block;
    font-size: 18px;
    font-family: -apple-system, BlinkMacSystemFont, Roboto, sans-serif;
    border-radius:4px;
    background-color: #222;
    color:white;
    margin: 5px;
    cursor: pointer;

    -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none;   /* Chrome 6.0+, Safari 3.1+, Edge & Opera 15+ */
    -moz-user-select: none;      /* Firefox */
    -ms-user-select: none;       /* IE 10+ and Edge */
    user-select: none; 
}